<nav class="navbar navbar-light bg-light navbar-expand">
  <a (click)="click_item(home_name)" class="navbar-brand" routerLink="">
    <img [src]="home_image" alt="{{home_name}}" height="30" width="30">
  </a>
  <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a (click)="click_item(arr)" *ngFor="let arr of data_array" [routerLink]="arr"
         class="nav-item nav-link">{{arr}}</a>
    </div>
  </div>
</nav>
